.mui-bar-nav {
	background: #3385ff;
}

.mui-bar-nav h1 {
	color: #fff;
	font-size: 18px;
	font-weight: normal;
}

.icon-green {
	color: #00cfa0;
}

.icon-light-yellow {
	color: #ffd36b;
}

.icon-dark-yellow {
	color: #fea356;
}

.icon-blue {
	color: #12b7f5;
}

.mui-content.article-detail-wrapper{
	padding: 15px 10px;
	background: #fff;
	margin-bottom: 35px;
}

.article-detail-wrapper .article-title{
	font-size: 20px;
	color: #333;
	overflow: hidden;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	white-space: normal;
	height: 50px;
	line-height: 25px;
}

.article-detail-wrapper .article-info{
	font-size: 11px;
	color: #999;
	margin: 10px auto;
}

.article-detail-wrapper .related-words{
	margin: 10px auto;
}

.article-detail-wrapper .related-words span{
    font-size: 11px;
    color: #666;
    padding: 5px 8px;
    background: #eaeaec;
    margin: auto 5px;
    border-radius: 3px;
}

.article-detail-wrapper .related-words span:first-child{
	margin-left: 0px;
}

.article-like-wrapper{
	text-align: center;
    margin: 20px auto;
}

.article-like-wrapper .item{
	display: inline-block;
	width: 126px;
	height: 52px;
	border-radius: 48px;
	font-size: 13px;
	color: #666;
	padding: 16px 0px;
}

.like-wrapper{
	background: #ffd100;
	margin-right: 32px;
}

.dislike-wrapper{
	background: #eaeaec;
}

.article-detail-wrapper .iconfont{
	font-size: 21px;
}

.article-detail-wrapper .iconfont.icon-zan{
	margin-right: 8px;
	vertical-align: top;
}

.ad-wrapper img{
	height: 127px;
	width: 100%;
}

.related-article-wrapper{
	color: #333;
    margin: 20px auto;
}

.related-article-list{
    list-style: none;
    background-color: #f7f7f7;
    padding: 15px;
    font-size: 14px;
    color: #999;
    line-height: 22px;
}

.related-article-list a{
	text-decoration: none;
	color: inherit;
}

.comment-box{
	background: #fff;
	font-size: 0px;
}

.comment-box .mui-tab-item:first-child{
	width: 60%;
 	padding: 0px 10px; 
}

.comment-box input{
	height: 30px;
	margin: 0px ;
	font-size: 11px;
	background: #EAEAEC;
	border: none;
}

.comment-box .mui-tab-item:not(:first-child) {
	width: 20%;
    font-size: 14px;
    color: #333;
    height: 30px;
    padding: 5px 0px;
}

.comment-list::before{
	height: 0px;
}

.comment-list .userName{
	color: #3385ff;
	font-size: 12px;
}

.comment-list .comment{
	color: #666;
	font-size: #666666;
}

.comment-list .mui-media-body{
	white-space: normal;
}

.comment-info{
	margin: 10px auto;
}

.comment-info .publishDate{
	color: #C2C0C0;
	font-size: 12px;
	margin-right: 20px;
}

.comment-info .replay{
	display: inline-block;
	background: #F7F7F7;
	border-radius: 18px;
	font-size: 11px;
	color: #333;
    padding: 2px 10px;
}

.comment-list .mui-table-view-cell:after{
	background-color: #eee;
}
